<%- include("partials/header") %>
<%- include("partials/nav") %>

<main>
	<form class="adminProductPageInfo" method="post" action="/admin/product">
		<section>


			<div class="= row">
				<div class="col-sm-12 col-md-5">
					<!-- product images -->
					<div id="productImages" class="carousel slide" data-ride="carousel">
					  	<div class="carousel-inner prodPagePadding">
					    	<div class="carousel-item active" data-interval="5000">
					      		<img src="/images/images (1).jpeg" class="d-block w-100" alt="...">
					    	</div>
					    	<div class="carousel-item" data-interval="5000">
					      		<img src="/images/gharanaMart.jpg" class="d-block w-100" alt="...">
					    	</div>
					    	<div class="carousel-item" data-interval="5000">
					      		<img src="/images/images (1).jpeg" class="d-block w-100" alt="...">
					    	</div>
					  	</div>
					  	<a class="carousel-control-prev" href="#productImages" role="button" data-slide="prev">
					    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  	  	<span class="sr-only">Previous</span>
					  	</a>f
					  	<a class="carousel-control-next" href="#productImages" role="button" data-slide="next">
					    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
					    	<span class="sr-only">Next</span>
					  	</a>
					</div>

					
				</div>

				<div class="col-sm-12 col-md-7" class= "">
					
					<div class="prodPagePadding productInfo">

						<span class="h1 ">
							<textarea rows="1" class="admin-header-product" placeholder="Name of the Product" name="productName"></textarea>
						</span>
						<hr>

						<p class="text-muted mt-4 productMrp m-0"> <input placeholder="MRP:" name="productMrp"></p>
	 
						<p><input placeholder="SELLING PRICE:" name="productPrice" ></p>
						

						<hr>


						
						<span class="description text-muted mb-2">
							<input type="text text-muted" name="productQuantity" placeholder="enter the amount">
						</span>

						<br>
						<br>


						<button type="submit" class="btn btn-orange">Add product</button>
						
					</div>

				</div>
			</div>
		</section>
	</form>
</main>



<%- include("partials/footer") %>