

/*HEADER*/

main{
	margin: 20px 5%;
}
.header{
	height:80vh;
	width: 100%;
	margin: auto;
}
.header img{
	margin-left:0 ;
	width: 100%;
	height: 100%;

}

.headdiv{
	width: 70%;
	margin: auto;
	padding-top:5%;
}
.roboto{
	font-size: 2em;
	font-weight: 200;
	font-family:'Roboto', sans-serif;

}
.robotob{
	font-size: 3em;
} 
/* PRODUCTS */
.card{
	border-style: none;
	border-bottom-style: groove;
}

/*FILTERS*/

.filter{
	padding-top: 60px;

}

.check-fil{
	display: inline;
}

input:checked+p{
	font-weight: 700;
}
.filterImg{
	width: 10%;
}



#search{
	margin:auto;
	margin-top: 20px;

}











