<!-- navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse px-3" id="navbarNavDropdown">
	  	<a class="navbar-brand" href="#">GHARANA MART</a>
	    <ul class="navbar-nav ml-auto pr-4">
	      <li class="nav-item active mr-4">
	        <a class="nav-link" href="/shop">SHOP <span class="sr-only">(current)</span></a>
	      </li>

	      <!-- log sign in -->
	      <% if(!userDet){ %>
	      <li class="nav-item">
	        <a class="nav-link" href="/login">LOG IN</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/signup">SIGN UP</a>
	      </li>
	  	</ul>
	  </div>
	      <% }else{ %>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle"  id="accountDropdown " role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          My Account
	        </a>
	        <div class="dropdown-menu" aria-labelledby="accountDropdown">
	          <a class="dropdown-item" href="#">My Orders</a>
	          <a class="dropdown-item" href="#">Support</a>
	          <a class="dropdown-item" href="#"></a>
	        </div>
	      </li>
	  	</ul>
	  </div>
	      <div class="position-absolute ml-auto cart">
	        <button id="" class=" btn btn-light text-muted cart-btn "><i class="fas fa-shopping-cart"></i>Cart</button>

	        <div class="myCart ">
		  		<div class="cartHeading bg-dark p-3">
		  			<i class="fas fa-times float-right fa-2x"></i>
		  			<p class="text-light m-0 ml-2">My Cart</p>
		  		</div>
		  		<div class="totalAmt bg-light p-3 mb-1">
		  			<p class="float-right text-muted m-0"> </p>
		  			<p class="text-muted m-0">Sub Total:</p>
		  			<p class="float-right text-muted m-0"> </p>
		  			<p class="text-muted m-0">Delivery Charges:</p>

		  			<hr>
		  			<p class="float-right text-muted m-0"> </p>
		  			<p class="text-muted m-0">Total Amount:</p>
		  		</div>

		  		
		  		<div class="cartProducts overflow-auto">
		  			<% userDet.cart.forEach(function(prod){ %>
					<div class="card cartprods" style="max-width: 540px;">
					  	<div class="row no-gutters">
					    	<div class="col-3">
					      		<img src="/images/images (1).jpeg" class="card-img" alt="...">
					    	</div>
					    	<div class="col-9">
					      		<div class="card-body">
					        		<p class="card-title m-0 "><%= prod.product.productName %></p>
					        		<p class="card-text"><small class="text-muted"><%= prod.product.productQuantity %></small></p>
									        		
					      		</div>
					    	</div>
					  	</div>
					</div>
					<% }) %>
				</div>
				
		  		
		  	</div>


	      </div>
	      <% } %>



	    

	      
	    
	  
	</nav>