<!-- navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
	  <a class="navbar-brand" href="#">GHARANA MART</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse px-3" id="navbarNavDropdown">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active mr-4">
	        <a class="nav-link" href="/shop">Home page <span class="sr-only">(current)</span></a>
	      </li>

	      <!-- log sign in -->
	      <!-- <li class="nav-item">
	        <a class="nav-link" href="#">LOG IN</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">SIGN UP</a>
	      </li> -->





	      	<li class="nav-item dropdown">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          	Products
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          	<a class="dropdown-item" href="/admin/product">Add Product</a>
		          	<a class="dropdown-item" href="/admin/deleteproduct">Remove Product</a>
		          	<a class="dropdown-item" href="/admin/editproduct">Edit Product</a>
	        	</div>
	      	</li>

	      	<li class="nav-item dropdown">
	        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          	Offers
	        	</a>
	        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          	<a class="dropdown-item" href="#">Add Offers</a>
		          	<a class="dropdown-item" href="#">Remove Offers</a>
		          	<a class="dropdown-item" href="#">Edit Offers</a>
	        	</div>
	      	</li>
	    </ul>
	  </div>
	</nav>